.unselected {
    background-color: #888888;
    box-shadow: -2px -2px 5px black inset,
                2px 2px 5px white inset;
}
.selected {
    background-color: #ffA500;
    box-shadow: -2px -2px 5px white inset,
    2px 2px 5px black inset;
}

.non-selectable {

}

.item {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
}

.group {
    display: inline-flex;
    width: 72px;
    height: 72px;
}

.item .sprite,.group .sprite {
    margin: auto;
}

.group-select {
    width: 432px;
    line-height: 0;
    text-align: left;
    padding-bottom: 10px;
}

.item-select-subgroup{
    width: 400px;
    line-height: 0;
    text-align: left;
}

.item-select {
    width: 432px;
    height: 480px;
    overflow-y: auto;
    text-align: left;
}

.panel {
    width: 432px;
    background-color: #444444;
}

.search-bar {
    width: 432px;
    height: 35px;
    padding-top: 5px;
    text-align: left;
}

.search-bar .title {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    vertical-align: top;
}

.search-bar .title .title-content {
    margin-left: 1em;
}

.search-box {
    position: relative;
    width: 50%;
    display: inline-block;
    margin-right: -50%;
    left: -50%;
}

.search-input {
    vertical-align: top;
    border: none;
    height: auto;
    width: 170px;
    margin-left: 3px;
    font-size: 20px;
    background-color: #aaaaaa;
    color: #000000;
}

.recipe-view {
    display: inline-block;
    background-color: #444444;
    color: #ffffff;
    border: 2px solid #000000;
    text-align: left;
}

.recipe-view .icon {
    display: inline-block;
}

.recipe-view .desc {
    display: inline-block;
    line-height: 32px;
    vertical-align: top;
    padding-right: 5px;
    padding-left: 5px;
}

.recipe-view .title {
    line-height: 32px;
    padding-left: 5px;
    padding-right: 5px;
}

.tag-view {
    display: inline-block;
    background-color: #444444;
    color: #ffffff;
    border: 2px solid #000000;
    text-align: left;
}

.tag-view .title {
    line-height: 32px;
    padding-left: 5px;
    padding-right: 5px;
}

.tooltip {
    position: fixed;
    width: max-content;
    z-index: 20;
    font-weight: normal;
}

.machine-module-select {
    background-color: #222222;
    display: inline-block;
}

.machine-module-select .table-title {
    color: #ffa500;
    font-size: 20px;
}

.machine-module-select-row {

}

.recipe-list-cell {
    text-align: left;
    width: 40%;
    max-height: 80px;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
}

.machine-select-cell {
    text-align: left;
    display: inline-block;
    width: 20%;
    max-height: 80px;
    overflow: auto;
    vertical-align: top;
}

.module-select-cell {
    text-align: left;
    display: inline-block;
    width: 10%;
    max-height: 80px;
    overflow: auto;
    vertical-align: top;
}

.module-count {
    height: 32px;
    width: 60px;
    font-size: 18px;
    vertical-align: top;
    color: #ffffff;
}

.module-count-input {
    height: 26px;
    width: 60px;
    font-size: 18px;
    vertical-align: top;
    color: #ffffff;
    background-color: #00000000;
    border: none;
}

.module-select {
    display: inline-block;
}

.module-select-menu {
    background-color: #000000;
    border: 2px solid #ffff00;
    display: none;
    max-width: 300px;
    margin-left: 0;
    padding: 2px;
}

.module-select:hover .module-select-menu {
    position: absolute;
    display: inline-block;
    z-index: 10;
}


.machine-module-select td {
    border-top: 1px solid #dddddd;
}

.recipe-io-cell {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    border: 8px solid #383838;
}

.recipe-io {
    background-color: #222222;
    display: inline-block;
}

.item-choice .panel {
    display: none;
    border: 8px solid #383838;
}

.item-choice:hover .panel {
    display: inline-block;
    position: absolute;
    z-index: 10;
}

.item-choice > .icon {
    background-color: #383838;
}

.item-choice {
    display: inline-block;
}

.target-add {
    color: #ffa500;
    font-size: 12px;
    width: 16px;
    height: 16px;
    vertical-align: top;
    font-weight: bolder;
    box-shadow: -1px -1px 3px black inset,
                1px 1px 3px white inset;
    margin-right: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

.target-amount {
    background-color: #333333;
    border: none;
    color: #ffffff;
    font-size: 16px;
}

.target {
    background-color: #444444;
    padding: 10px;
}

.select-all-bar {
    color: #ffff00;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.select-all-bar span {
    margin-left: 2em;
}